VITE_BASE_URL=/expense
VITE_API_URL=https://api.z-transact.yavar.ai/expense
VITE_AUTH_API_URL=https://api.z-transact.yavar.ai/auth/
VITE_DISABLE_AUTH=false
VITE_DEV_USER_ID=0
VITE_CONNECTORS_API_URL=https://api.z-transact.yavar.ai/expense-connectors
VITE_WHATSAPP_WEBHOOK_URL=https://api.z-transact.yavar.ai/whatsapp/webhook
VITE_CONNECTORS_URL=https://z-transact.yavar.ai/connectors
VITE_TRANSACT_BASE_URL=https://z-transact.yavar.ai
VITE_MAPPLS_ACCESS_TOKEN=xxxxxxxxxxxxxxxx
# Docker Compose configuration
PORT=3001
