# Environment variables related to application

# PostgreSQL configuration
POSTGRES_HOST=expense-postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=expense

# MinIO configuration
MINIO_URL=https://expenses.z-transact.yavar.ai
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword
BUCKET_NAME=expenses

# Email configuration
SMTP_SERVER=smtp.office365.com
SMTP_PORT=587
SMTP_USERNAME=platforms@yavar.ai
SMTP_APP_PASSWORD="password"

#RabbitMQ configuration
RABBITMQ_HOST=172.17.0.1
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_PORT=5672

#Redis configuration
REDIS_HOST=expense-redis
REDIS_PORT=6379

# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=expense-kafka:9093
# Total Kafka partitions
TOTAL_KAFKA_PARTITIONS=10

# CORS configuration
FRONTEND_URLS=["https://z-transact.yavar.ai"]
DOMAIN_URL="z-transact.yavar.ai"
SECRET_KEY="change-me"
DISABLE_AUTH=false
DEV_AUTH_EMAIL=
DISABLE_EXTERNAL_SERVICES=false

# AUTH – RSA KEYS (RS256)
AUTH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nabcdefg\nhijklm\n3QIDAQAB\n-----END PUBLIC KEY-----"

# APPLICATION RELEVANT CONFIGURATION
BUDGET_THRESHOLD_PERCENT=80

# Docker Compose configuration
PORT=8013
DOCKER_POSTGRES_PORT=5433
MINIO_API_PORT=9100
KAFKA_ADVERTISED_LISTENER_HOST=10.160.0.4
DOCKER_KAFKA_PORT=9102
#For Dev purpose
MINIO_CONSOLE_PORT=9101
DOCKER_RABBITMQ_PORT=5673
RABBITMQ_MANAGEMENT_PORT=15673
